@charset "utf-8";
/* CSS Document */

/*Fonts*/
@import url("https://p.typekit.net/p.css?s=1&k=sov5tkd&ht=tk&f=25163.39200.39201.39202.39203&a=84440578&app=typekit&e=css");

@font-face {
    font-family:"fatfrank";
    src:url("https://use.typekit.net/af/2aa411/00000000000000007735a612/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/2aa411/00000000000000007735a612/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/2aa411/00000000000000007735a612/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}
@font-face {
    font-family:"century-gothic";
    src:url("https://use.typekit.net/af/40bdad/00000000000000007735ba11/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/40bdad/00000000000000007735ba11/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/40bdad/00000000000000007735ba11/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}
@font-face {
    font-family:"century-gothic";
    src:url("https://use.typekit.net/af/0f9780/00000000000000007735ba15/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/0f9780/00000000000000007735ba15/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/0f9780/00000000000000007735ba15/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}
@font-face {
    font-family:"century-gothic";
    src:url("https://use.typekit.net/af/9e55b6/00000000000000007735ba19/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/9e55b6/00000000000000007735ba19/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/9e55b6/00000000000000007735ba19/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}
@font-face {
    font-family:"century-gothic";
    src:url("https://use.typekit.net/af/78c6b9/00000000000000007735ba1f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/78c6b9/00000000000000007735ba1f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/78c6b9/00000000000000007735ba1f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

/*Zoning*/
* {
    box-sizing: border-box;
}
body{
    margin: 0px;
}
#container{
    display:grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:auto;
    width:100%;
    max-width: 1700px;
    overflow: hidden;
}
header{
    grid-column: 1 / span 12;
    grid-row: 1;
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: auto;
}
section.cover{
    grid-column: 1 / span 12;
    grid-row: 1;
}
main{
    grid-column: 1 / span 12;
    grid-row: 2;
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: auto;
    background-color: white;
}
section{
    padding: 25px;
}
section.destinations{
    grid-column: 1 / span 12;
    grid-row: 1;
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: auto;
}
section.recommendations{
    grid-column: 1 / span 12;
    grid-row: 2;
}
article{
    padding: 15px;
}
article.introduction{
    grid-column: 1 / span 12;
    grid-row: 1;
}
article.indonesie{
    grid-column: 1 / span 6;
    grid-row: 2 / span 2;
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: auto;
}
article.australie{
    grid-column: 7 / span 6;
    grid-row: 2;
}
article.caraïbes{
    grid-column: 7/ span 6;
    grid-row: 3;
}
article.button{
    grid-column: 1 / span 12;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
article.avis{
    grid-column: 1 / span 12;
    grid-row: 2;
    padding: 0;
}
/*Footer*/
footer{
    grid-column: 1 / span 12 ;
    grid-row: 3;
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: auto;
    background-color: #f5f5f5;
    
}
section.footer{
    grid-column: 1 / span 12;
    grid-row: 1;
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: auto;
    background-color: #f5f5f5; 
    padding: 0;
}
section.footer > article{
    padding: 0;
}
article.assistance{
    grid-column: 1 / span 3;
    grid-row: 1;
}
article.communaute{
    grid-column: 4/ span 3;
    grid-row: 1;
}
article.propos{
    grid-column: 7 / span 3;
    grid-row: 1;
}
article.droits{
    grid-column: 1 / span 4;
    grid-row: 2;
}
article.signature{
    grid-column: 5 / span 4;
    grid-row: 2;
}
article.networks{
    grid-column: 9 / span 4;
    grid-row: 2;
}
/*Structural borders*/
article{
    border:1px solid purple;
}
img{
    border:1px solid rgb(30, 172, 160);
}
section{
    border:1px solid rgb(30, 172, 160);
}

/*Texts*/
h1,h2,h3,h4{
    font-family: "fatfrank",sans-serif; 
}
h2{
    color: #2a5d68;
}
p{
    font-family: "century-gothic",sans-serif;
    font-size:12px;
}
p:not(.header-sub,.card__description){
    color:#cfcfce;
}

/*Cards*/
.card {
    grid-column: 1 / span 12 ;
    grid-row: 1;
    border-radius: 25px;
    padding:25px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    color: #ffffff;
}
.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}
/* CARD BACKGROUNDS */
.card-1 {
    background-image: url('../images/indonesia.jpeg' );
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card-2 {
    background-image: url('../images/australia.jpeg' );
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card-3 {
    background-image: url('../images/caribbean.jpeg' );
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*Slider*/
.wrapper{
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 0;
    
}
.slide {
    text-align: center;
    background-color: #f8f8f8; 
    border-radius: 25px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.content {
    padding: 10px;
    pointer-events: none;
    transition: opacity .6s;
    overflow-y: auto;
    border-radius: 25px;
    color: #c84274;
}
input,label{
    opacity: 0;
}
.avatar svg{
    height:120px; 
    width:120px;
}

/*Buttons*/
button {
    text-align: center;
    padding: 5px 15px;
    border-radius: 10px;
    border: 2px solid #5f0b39;
    background-color: #c84779;
    color: #ffffff;
    cursor: pointer;
}

/*Links*/
.footer p{
    color: #4a4b4a;
}
.footer ul li{
    list-style-type:none;
}
.footer ul li a{
    text-decoration: none;
}
.footer ul > li > a> p{ 
    margin-bottom: 5px;
}
.footer ul > li > a:hover > p,
.footer ul > li > a.active > p{
    color: #2a5d68;
    font-size:small;
}

/*Responsive:*/
/*Mobile version:*/
@media screen and (max-width:576px){
    /*Main's article*/
    article.indonesie{
        grid-column: 1 / span 12;
        grid-row: 2 ;
    }
    article.australie{
        grid-column: 1/ span 12;
        grid-row: 3;
    }
    article.caraïbes{
        grid-column: 1/ span 12;
        grid-row: 4;
    }
    article.button{
        grid-column: 1 / span 12;
        grid-row: 5;
    }
    article.avis{
        grid-column: 1 / span 12;
        grid-row: 2;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    /*Footer's article*/
    article.assistance{
        grid-column: 1/ span 12;
        grid-row: 1;
    }
    article.communaute{
        grid-column: 1 / span 12;
        grid-row: 2;
    }
    article.propos{
        grid-column: 1/ span 12;
        grid-row: 3;
    }
    article.droits{
        grid-column: 1 / span 12;
        grid-row: 4;
    }
    article.signature{
        grid-column: 1 / span 12;
        grid-row: 5;
    }
    article.networks{
        grid-column: 1 / span 12;
        grid-row: 6;
    }

    /*Text*/
    body, input, button{
        font-size: 10pt; 
    }
    
    /*Cards*/
    .card{
        padding:25px
    }

    /*Slider*/
    input {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
    }
    .wrapper {
        width: 50vw;
        display: flex;
        margin: 0 auto;
        box-shadow: 3px 3px 20px #9E9E9E;
        border-radius: 25px;
        background-color: #f8f8f8; 
    }
    .slide {
        width: 0;
        margin: 0;
    }
    .content {
        width: 50vw;
        height: 100%;
        max-height: 90vh;
        padding: 30px;
        border-radius: 25px;
        opacity: 0;
        transition: opacity .6s;
        pointer-events: none;
    }
    label {
        color: #E0E0E0;
        transition-duration: .6s;
        opacity: 1;
        cursor: pointer;
    }
    #i_1:checked ~ .wrapper .content1,
    #i_2:checked ~ .wrapper .content2,
    #i_3:checked ~ .wrapper .content3,
    #i_4:checked ~ .wrapper .content4 {
        opacity: 1;
        pointer-events: auto;
    }
    #i_1:checked ~ .controls label[for="i_1"],
    #i_2:checked ~ .controls label[for="i_2"],
    #i_3:checked ~ .controls label[for="i_3"],
    #i_4:checked ~ .controls label[for="i_4"]{
        color:#f8f8f8;
    }
}