@charset "utf-8";
/* CSS Document */

/*Fonts*/
@import url("https://p.typekit.net/p.css?s=1&k=sov5tkd&ht=tk&f=25163.39200.39201.39202.39203&a=84440578&app=typekit&e=css");

@font-face {
    font-family:"fatfrank";
    src:url("https://use.typekit.net/af/2aa411/00000000000000007735a612/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/2aa411/00000000000000007735a612/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/2aa411/00000000000000007735a612/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}
@font-face {
    font-family:"century-gothic";
    src:url("https://use.typekit.net/af/40bdad/00000000000000007735ba11/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/40bdad/00000000000000007735ba11/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/40bdad/00000000000000007735ba11/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}
@font-face {
    font-family:"century-gothic";
    src:url("https://use.typekit.net/af/0f9780/00000000000000007735ba15/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/0f9780/00000000000000007735ba15/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/0f9780/00000000000000007735ba15/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}
@font-face {
    font-family:"century-gothic";
    src:url("https://use.typekit.net/af/9e55b6/00000000000000007735ba19/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/9e55b6/00000000000000007735ba19/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/9e55b6/00000000000000007735ba19/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}
@font-face {
    font-family:"century-gothic";
    src:url("https://use.typekit.net/af/78c6b9/00000000000000007735ba1f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/78c6b9/00000000000000007735ba1f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/78c6b9/00000000000000007735ba1f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

/*Zoning*/
* {
    box-sizing: border-box;
}
body{
    margin: 0px;
}
#container{
    display:grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:auto;
    width:100%;
    max-width: 1700px;
    overflow: hidden;
}
header{
    grid-column: 1 / span 12;
    grid-row: 1;
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: auto;
}
section.cover{
    grid-column: 1 / span 12;
    grid-row: 1;
}
main{
    grid-column: 1 / span 12;
    grid-row: 2;
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: auto;
    background-color: white;
}
section{
    padding: 25px;
}
section.destinations{
    grid-column: 1 / span 12;
    grid-row: 1;
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: auto;
}
section.recommendations{
    grid-column: 1 / span 12;
    grid-row: 2;
}
article{
    padding: 15px;
}
article.introduction{
    grid-column: 1 / span 12;
    grid-row: 1;
}
article.indonesie{
    grid-column: 1 / span 6;
    grid-row: 2 / span 2;
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: auto;
}
article.australie{
    grid-column: 7 / span 6;
    grid-row: 2;
}
article.caraïbes{
    grid-column: 7/ span 6;
    grid-row: 3;
}
article.button{
    grid-column: 1 / span 12;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
article.avis{
    grid-column: 1 / span 12;
    grid-row: 2;
    padding: 0;
}
/*Footer*/
footer{
    grid-column: 1 / span 12 ;
    grid-row: 3;
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: auto;
    background-color: #f5f5f5;
    
}
section.footer{
    grid-column: 1 / span 12;
    grid-row: 1;
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: auto;
    background-color: #f5f5f5; 
    padding: 0;
}
section.footer > article{
    padding: 0;
}
article.assistance{
    grid-column: 1 / span 3;
    grid-row: 1;
}
article.communaute{
    grid-column: 4/ span 3;
    grid-row: 1;
}
article.propos{
    grid-column: 7 / span 3;
    grid-row: 1;
}
article.droits{
    grid-column: 1 / span 4;
    grid-row: 2;
}
article.signature{
    grid-column: 5 / span 4;
    grid-row: 2;
}
article.networks{
    grid-column: 9 / span 4;
    grid-row: 2;
}
/*Structural borders*/
article{
    border:1px solid purple;
}
img{
    border:1px solid rgb(30, 172, 160);
}
section{
    border:1px solid rgb(30, 172, 160);
}


/*Responsive:*/
/*Mobile version:*/
@media screen and (max-width:576px){
    /*Main's article*/
    article.indonesie{
        grid-column: 1 / span 12;
        grid-row: 2 ;
    }
    article.australie{
        grid-column: 1/ span 12;
        grid-row: 3;
    }
    article.caraïbes{
        grid-column: 1/ span 12;
        grid-row: 4;
    }
    article.button{
        grid-column: 1 / span 12;
        grid-row: 5;
    }
    article.avis{
        grid-column: 1 / span 12;
        grid-row: 2;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    /*Footer's article*/
    article.assistance{
        grid-column: 1/ span 12;
        grid-row: 1;
    }
    article.communaute{
        grid-column: 1 / span 12;
        grid-row: 2;
    }
    article.propos{
        grid-column: 1/ span 12;
        grid-row: 3;
    }
    article.droits{
        grid-column: 1 / span 12;
        grid-row: 4;
    }
    article.signature{
        grid-column: 1 / span 12;
        grid-row: 5;
    }
    article.networks{
        grid-column: 1 / span 12;
        grid-row: 6;
    }
}